html{
    font-family: sans-serif;
}
audio{
    background-color: white;
    width: 500px;
}
h1{
    background-color: rgb(31, 168, 31);
    color: white;
    padding: 10px;
}
h2{
    color: rgb(31, 168, 31);
}
table{
    border-collapse: collapse;
    padding-bottom: 50px;
}
th{
    border: 1px solid rgb(211, 202, 202);
    background-color: rgb(31, 168, 31);
    text-align: left;
    padding: 5px;
    padding-right: 600px;
    color: white;
}
td{
    border: 1px solid rgb(211, 202, 202);
    padding: 5px;
}
th{
    padding-right: 250px;
}
